@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.leaflet-control-layers-overlays > label > span {
  display: flex;
  padding: 5px 0;
  align-items: center;
}


.leaflet-control-layers-overlays > label > span > span {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.share-button {
  position: relative;
  transition: transform ease-in 0s, box-shadow ease-in 0.25s;
}

.share-button:active {
  transform: scale(0.9);
  background-color: #2ac38b;
  box-shadow: 0 2px 25px rgba(40, 164, 119, 0.2);
}